/* Internal CSS
 Style içerine, yani, head içerisine eklenmektedir */
 /* Açıklama satırları sık sık kullanılmalı 
 ve yapılan işlemler hakkında bilgi vermek
 daha sonra da o bilgiye rahatlıkla erişebilmek için önemlidir */
 /* h2 {
    color: black;
    font-size: 36px; */
    /* Yazı boyutlarını bu şekilde uppuercase, lowercase
    olarak ayarlayabiliriz */
    /* text-transform: uppercase;
    

}   

p{
    
    font-size:35px
    
}
body{ */
    /* bu şekilde background color
    ve içerideki elementlerin renkleri değiştirilebilir */
    /* background-color:gray;
    color: white;
    font-family: sans-serif;
}

ul{

    color: blue;
} */
/* Internal CSS eklenmediği zaman style bütün p elemenleri için burada düzenlenebilir
ya da html içerisine inline css ekleyerek tek bir element ayrı olarak özelleştirilebilir

*/




/*  sınır belirlerken class için-> .text-red {} 
id için -> #id-bilgisi {}*/
h1{
    font-size: 30px;
    
}
h1,h2,h3,h4,h5,h6 {
    color: rgb(27, 27, 133);
}
    

p {font-size: 12px;}

#first-article{

    font-size: 40px;
}
.text-red{
    color: red;

}
.fs-14{
    font-size: 14px;
    
}

.fs-20{
    font-size: 20px;


}

.fs-30{

    font-size: 30px;

}